<p> Your Vault </p>
<br>
<br>
<br>
<form method="GET" action="/games/addgame">
	<button type="submit">Add Game</button>
</form>
<br>
<br>
<form method="GET" action="/games/library">
	<button type="submit">Library</button>
</form>
