<p>Add New Game</p>
<br>
<form action="/games" method="POST">
	<ul>
	<li><input type="text" name="gamename" placeholder="Game Name"></li>
	<li><input type="text" name="console_format" placeholder="DMG - GBC - GBA"></li>
	<li><input type="text" name="developer" placeholder="Developer"></li>
	<li><input type="text" name="publisher" placeholder="Publisher"></li>
	<li><input type="boolean" name="authentic" placeholder="authentic"></li>
	<li><input type="text" name="releasedate" placeholder="Release Date (month-year October, 1999"></li>
	<li><input type="text" name="condition" placeholder="Condition"></li>
	</ul>
	<p>New - Perfect - Great - Good - Fine - Bad - Damaged/Notworking</p>
</form>