<p>Add New Game</p>
<br>
<form action="/games" method="POST">
	<ul>
	<li>Game Name: <input type="text" name="gamename" placeholder="Game Name"></li>
	<li>Console: <input type="text" name="console_format" placeholder="DMG - GBC - GBA"></li>
	<li>Developer: <input type="text" name="developer" placeholder="Developer"></li>
	<li>Publisher: <input type="text" name="publisher" placeholder="Publisher"></li>
	<li>Authentic? <input type="boolean" name="authentic" placeholder="True or False"></li>
	<li>Release Date: <input type="text" name="releasedate" placeholder="Month, Year"></li>
	<li>Condition: <input type="text" name="condition" placeholder="Condition"></li>
	<p>New - Perfect - Great - Good - Fine - Bad - Damaged/Notworking</p>
	<li><input type="submit" value="Submit"></li>
	</ul>
	
</form>