<p>Add New Game To Wish List</p>
<br>
<form action="/wishlist" method="POST">
	<ul>
	<li>Game Name: <input type="text" name="gamename" placeholder="Game Name"></li>
	<li>Console: <input type="text" name="console_format" placeholder="DMG - GBC - GBA"></li>
	<li><input type="submit" value="Submit"></li>
</form>